<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="mule-agent-port" value="57276"/>
    <stringAttribute key="mule-agent-token-auth" value="2ea83bfd-e0b1-4445-bef8-990aff4b5e83"/>
    <listAttribute key="mule-project-names">
        <listEntry value="super-biodata-sapi"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="super-biodata-sapi"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
